# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# compiling files
bin/swetest/src/*.a
bin/swetest/src/*.o
bin/swetest/src/swetest