# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# composer vendor dir
vendor
composer.lock

# local phpunit config
phpunit.xml

# log files
tests/logs