<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Jyotish Test Suite">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
          <group>base</group>
		  <group>ganita</group>
		  <group>panchanga</group>
		  <group>tattva</group>
        </include>
    </groups>
</phpunit>